*{margin: 0px; padding: 0px;}
body{font-family: "Open Sans";}
img{max-width: 100%;}

.logo{
    max-width: 200px;
}

.title{
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    margin: 50px 400px;
}

.product-item{
    text-align: center;
    max-width: 260px;
    margin: 0px auto;
    margin: 4px 0px 40px 0px;
}
img.product-item-img{
    max-width: 100%;

}

.product-item h1{
    font-size: 1.2em;
    margin: 4px;
    text-transform: uppercase;
}
.btn-buy{
    background: #000000;;
    border-radius: 0px;
    width: 100%;
    color: #FFF;
}
.btn-buy:hover{
    background: #0f1bfd;
    color: #FFF;
}

.product-item-img-cart{
    max-width: 60px;
    float: left;
    margin-right: 10px;
}
.cart-name-item{
    float: left;
    font-size: 1.0em;
}
.item-add-remove{
    font-size: 2em;
    color: #000000;
    font-weight: bold;
}

.total-cart{
    float: right;
    background: #a0ecff;;
    padding: 20px 40px;
}
.total-cart p{
    margin: 0px;
    font-size: 2em;
}
.total-cart strong{
    color: #999;
}
.btn-finish{
    float: right;
    clear: both;
    margin: 40px 0px;
    background: #000000;
    padding: 15px 50px;
    color: #FFF;
    font-weight: bold;
}
.btn-finish:hover{text-decoration: none; color: #FFF; opacity: .9;}