.navbar-default {
    background-color: #a1edfa;;
    border-color: #49696e;;
    border-radius: 0px;
}

.dropdown-menu{
    background: #a1edfa;
    border-radius: 0px;
    box-shadow: none;
}

.form-control{
    border-radius: 0px;
    height: 50px;
}

.panel-default{
    border-color: #a1edfa;
}

.panel{
    border-radius: 0px;
}

.panel-default>.panel-heading {
    color: #333;
    background-color: #a1edfa;
    border-color: #49696e;
}

.panel-heading {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}